[Unit]
Description=Run Rendering deployment every day

[Timer]
OnCalendar=*-*-* 03:15:00
Persistent=true
Unit=rendering-deploy.service

[Install]
WantedBy=timers.target